{% extends "base_accounts.html" %}
{% load static %}

{% block title %}SingUp{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static "css/accounts_style.css" %}">
{% endblock head %}


{% block content %}

<section class="section-container">

    <form action="{% url "singup" %}" method="post" class="autentication-form"> {% csrf_token %}

        {{ User.username }}
        <h1>SingUp</h1>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirme a senha:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Cadastrar</button>

    </form>

</section>

{% endblock content %}

